aws_region = "eu-west-1"

app_name = "orqestra-insight-hub-demo"

repository_url = "https://github.com/DevRepublic-NL/orqestra-insight-hub-new"

branch_name = "main"

environment = "demo"

branch_stage = "DEVELOPMENT"

